# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

doc/manual/admin_guide.pdf

doc/manual/dev_guide.pdf

doc/manual/user_guide.pdf
